img{
    width: 70px; 
  }
  table{
    width: 100%;
     border-collapse: flex;
     margin: 0;
     font-size: 18px;
     text-align: center;
  }
  th{
    font-family: arial;
    background-color: #6d0083;
      color: #fffffa;
      text-align: left;
      font-weight: bold;
    text-align: center;
  }
  tbody tr{
    border-bottom: 1px solid #6d00838c;
  }
  tbody tr:nth-of-type(even) {
      background-color: #6d008393;
  } 
   td, th {
      padding: 12px 15px;
    }
  td {
    border-radius:7px;
  }